@model Cotizaciones.Models.Persona
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Eliminar Persona";
}
<!--Condicion que solo muestra la funcionalidad solo si hay una sesion abierta-->
@if (Context.Session.GetString("UsuarioID") != null)
{
<h2>Eliminar Persona/Usuario</h2>

<font color="red"><h4>Esta Seguro que desea eliminar a esta persona?</h4></font>
<div class="content-box-header">
			<div class="panel-title"><b>Detalles de: @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Paterno)</b> </div>
								
				
			</div>
		<div class="content-box-large box-with-header">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonaId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista de Personas/Usuarios</a>
    </form>
</div>


}

                    else
                    {
                        <!--En el caso que no haya una sesion abierta, pide iniciar session-->
                        <h4>Debe iniciar sesion para poder utilizar el sistema. <br><br><a asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a></h4> 
                    }