@model Cotizaciones.Models.Persona

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles de la Persona/Usuario</h2>

<div>
    <h4>A continuacion se muestra los detalles de la persona seleccionada:</h4>
    <hr />
    
		<div class="content-box-header">
			<div class="panel-title"><b>Detalles de: @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Paterno)</b> </div>
								
				
			</div>
		<div class="content-box-large box-with-header">
				  				
		<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>
    </dl>
    <div>
    <a asp-action="Edit" asp-route-id="@Model.PersonaId">Editar esta Persona</a> |
    <a asp-action="Index">Ir a la lista de Personas</a>
</div>
</div>

</div>

    

</div>

