@using Microsoft.AspNetCore.Http
@model IEnumerable<Cotizaciones.Models.Persona>

@{
    ViewData["Title"] = "Index";
}
@if (Context.Session.GetString("UsuarioID") != null)
                    {
                        <h2>Lista de Usuarios/Personas</h2>

<p>
    <!--<a asp-action="Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materno)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

                    }
                    else
                    {
                        <h4>Debe iniciar sesion para poder utilizar el sistema. <br><br><a asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a></h4> 
                    }

