@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Detalles Cotizacion";
}

<h2>Detalles de la Cotizacion</h2>

<div>
    <h4>A continuacion se muestra los detalles de la cotizacion seleccionada:</h4>
    <hr />
    <div class="content-box-header">
			<div class="panel-title"><b>Detalles de: @Html.DisplayFor(model => model.Nombre)</b> </div>
								
				
			</div>
		<div class="content-box-large box-with-header">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorCotizado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorCotizado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Rut)
        </dd>
    </dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CotizacionId">Editar Cotizacion</a> |
    <a asp-action="Index">Ir a la lista de cotizaciones</a>
</div>
</div>

</div>
