@model IEnumerable<Cotizaciones.Models.Cotizacion>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
}
@if (Context.Session.GetString("UsuarioID") != null)
                    {
<h2>Lista de Cotizaciones</h2>

<p>
    <!-- <a asp-action="Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>    
                <th>
                ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servicios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorCotizado)
                </th>
                
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CotizacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCotizado)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Rut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CotizacionId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CotizacionId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CotizacionId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
                    }
                    else
                    {
                        <h4>Debe iniciar sesion para poder utilizar el sistema. <br><br><a asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a></h4> 
                    }